/**********************************************************
 * Map.css - Sinar Mas under investigation
 * @updated 2011-05-31
 * @author Greenpeace team rocket!
 **********************************************************/
/* quick reset */
body {
  font-family: helvetica, arial, verdana, sans-serif;
  margin:0;
  padding:0;
}
#app-container * {
  padding:0;
  margin:0;
}
#app-container ul {
  list-style-type:none;
}

/* universal clearfix hack */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block;}
/* start commented backslash hack \*/
* html .clearfix { height: 1%;}
.clearfix { display: block;}
/* close commented backslash hack */

/* links */
#app-container a {
  color:#1d65bc;
  font-weight:bold;
  text-decoration:none;
}
#app-container a:hover {
  text-decoration:underline;
  cursor:pointer;
}

/* layout */
#app-container {
  margin:auto;
  background-color:#FFF;
  width:960px;
  padding:5px 0 50px 0;
  -moz-box-shadow: 0 -10px 10px #888;
  -webkit-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
  height: 100%;
}
#app-container #title-holder,
#app-container #main-nav-holder {
  float:left;
  width:185px;
  height:50px;
}
#app-container #main-nav-holder {
  width:750px;
}
#app-container .nojs {
  width:350px;
  background:#FFF;
  margin:auto;
  padding:30px;
  border-radius:5px;
  -moz-border-radius:5px;
  margin-top:150px;
  background:transparent url(http://www.greenpeace.org/international/Global/international/photos/forests/2011/app/map/images/opacity75.png) 0 0 repeat; /*todo ie6 */
}
#app-container .map {
  text-align:center;
}
#app-container .map img{
  text-align:center;
  padding:3px;
  border:1px solid #000;
  width:920px;
}
/* top */
#app-container #app-header {
  padding:0 10px;  
  height:140px;
}
#app-container #title-holder h1{
  width:180px;
  height:55px;
  margin-left:10px;
}
#app-container #title-holder h1 a{
  display:block;
  width:180px;
  height:55px;
  background: transparent url(http://www.greenpeace.org/international/Global/international/photos/forests/2011/app/map/images/sinarmas.png) center 10px no-repeat;
}
#app-container #title-holder h2 {
  width:180px;
  height:72px;
  background: transparent url(http://www.greenpeace.org/international/Global/international/photos/forests/2011/app/map/images/extinction.png) center center no-repeat;
  margin-left:10px;
}
#app-container h1 span,
#app-container h2 span{
  display:none;
}
/* nav */
#app-container .nav ul li,
#app-container .nav ul {
  float:left;
}
#app-container .main.nav ul li a{
  float:left;
  padding:6px 10px;
  margin:0 0 0 10px;
  font-weight:bold;
  text-decoration:none;
  font-size:16px;
  font-size:18px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-style:italic;
  width:110px;
  text-align: center;
}
#app-container a.button,
#app-container .main.nav ul li a{
  color:#000;
  background:#e9e6d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e6d7), to(#b8b5a9));
  background: -moz-linear-gradient(top,#e9e6d7,#b8b5a9);
  text-decoration:none;
}
#app-container .main.nav ul li a.active,
#app-container .main.nav ul li a:hover{
  background:#ed343a;
  background: -webkit-gradient(linear, left top, left bottom, from(#ed343a), to(#bd1e24));
  background: -moz-linear-gradient(top,#ed343a,#bd1e24);
  color:#FFF;
}
#app-container .main.nav ul li a:active{
  background:#ed343a;
  background: -webkit-gradient(linear, left top, left bottom, from(#bd1e24), to(#ed343a));
  background: -moz-linear-gradient(top,#bd1e24,#ed343a);
  color:#FFF;
}
#app-container .main.nav{
  padding-top:10px;
}

#app-container .main.nav .level2 {
  clear:both;
}
#app-container .main.nav .level2 li a{
  height:65px;
  vertical-align:middle;
  margin-top:8px;
}
#app-container .main.nav .level2 li a span{
  float:left;
  width:110px;
  text-align:center;
  padding-top:20px;
}
#app-container .main.nav .level2 li a span.long{
  padding-top:7px;
}

/* main content map */
#app-container .map-holder {
  border:1px solid #000;
  margin:10px 15px 15px 15px;
}
#app-container .map-holder2 {
  border:1px solid #AAA;
  margin:3px;
  height:455px;
}
#map {
  margin:0;
  width:920px;
  height:455px;
}
#map.sumatra {
  background:transparent url(http://www.greenpeace.org/international/Global/international/photos/forests/2011/app/map/images/sumatra-map.png) 0 0 no-repeat;
}
#map.toy {
  background:transparent url(http://www.greenpeace.org/international/Global/international/photos/forests/2011/app/map/images/toy-map.png) 0 0 no-repeat;
}
#map-layers {
  margin-left:3px;
  padding-left:5px;
  position:absolute;
  /*top:50px;*/
  background:transparent url(http://www.greenpeace.org/international/Global/international/photos/forests/2011/app/map/images/opacity75.png) 0 0 repeat; /*todo ie6 */
  height:445px;
  width:180px;
  margin-top:10px;
  margin-left:25px;
  padding:0;
  border-right:0;
}
#app-container #map-layers li h3{
  font-size:12px;
  padding:10px 5px 2px 7px;
}
#app-container #map-layers li span{
  font-size:11px;
  display:block;
  cursor:pointer;
  width:160px;
  color:#000;
  font-weight:bold;
  padding:1px 2px 1px 12px;
  margin-top:1px;
}

/* opac50 #f5f9f8, opac75 #f5f9f8 */
#app-container #map-layers .forest.primary.active span {
  background:#609b61;
  background: -webkit-gradient(linear, left top, right top, from(#f5f9f8), to(#609b61)); 
  background: -moz-linear-gradient(left,#f5f9f8,#609b61);
}
#app-container #map-layers .forest.secondary.active span {
  background:#8bcb8b;
  background: -webkit-gradient(linear, left top, right top, from(#F5F9F8), to(#8bcb8b));
  background: -moz-linear-gradient(left,#f5f9f8,#8bcb8b);
}
#app-container #map-layers .peatland.p02m.active span {
  background:#CFAB7A;
  background: -webkit-gradient(linear, left top, right top, from(#f5f9f8), to(#CFAB7A));
  background: -moz-linear-gradient(left,#f5f9f8,#CFAB7A);
}
#app-container #map-layers .peatland.p24m.active span {
  background:#A16A1A;
  background: -webkit-gradient(linear, left top, right top, from(#f5f9f8), to(#A16A1A));
  background: -moz-linear-gradient(left,#f5f9f8,#A16A1A);
}
#app-container #map-layers .peatland.p40m.active span {
  background:#5F4D22;
  background: -webkit-gradient(linear, left top, right top, from(#f5f9f8), to(#5F4D22));
  background: -moz-linear-gradient(left,#f5f9f8,#5F4D22);
}
#app-container #map-layers .habitat.tiger.active span {
  background:#F37224;
  background: -webkit-gradient(linear, left top, right top, from(#f5f9f8), to(#F37224));
  background: -moz-linear-gradient(left,#f5f9f8,#F37224);
}
#app-container #map-layers .habitat.orangutan.active span {
  background:#f34424;
  background: -webkit-gradient(linear, left top, right top, from(#f5f9f8), to(#F34424));
  background: -moz-linear-gradient(left,#f5f9f8,#F34424);
}
#app-container #map-layers .concession.active span {
  background:#EC2227;
  background: -webkit-gradient(linear, left top, right top, from(#f5f9f8), to(#EC2227));
  background: -moz-linear-gradient(left,#F5F9F8,#EC2227);
}
#app-container #map-layers .spacer {
  margin-top:15px;
  border-bottom:2px solid #CCC;
}
#app-container #map-layers .spacer span {
  display:none;
}


/* callout */
#app-container .callout {
  position:absolute;
  width:255px;
  background:#FFF;
  border:1px solid #CCC;
  padding:5px;
}
#app-container .callout h2{
  font-size: 16px;
}
#app-container .callout span{
  font-size: 10px;
  font-weight: bold;
}
#app-container .callout p{
  font-size: 10px;
}
#app-container .callout img{
  float: right;
}

/* content quickfacts */ 
#app-container .content.quick.facts {
  background: transparent url(http://www.greenpeace.org/international/Global/international/photos/forests/2011/app/map/images/deforestation.png) left 15px no-repeat;
  padding:10px 0 20px 220px;
}
#app-container .content.quick.facts h2,
#app-container .content.quick.facts h2 span,
#app-container .content.quick.facts p{
  padding-left:0;
  display:block;
}
#app-container .content.quick.facts p{
  padding-left:0;
}
#app-container .content.quick.facts li {
  width:500px;
}
#app-container .content.quick.facts .col1{
  width:520px;
  float:left;
}
#app-container .content.quick.facts .col2 {
  width:180px;
  float:left;
  margin-left:20px;
}
#app-container .content.quick.facts ul {
  width:550px;
  float:left;
}
#app-container .content.quick.facts a.button{
  width:125px;
  float:left;
  padding:8px 35px 8px 5px;
  margin:0 0 10px 0; 
  clear:right;
  text-align:center;
  font-size:16px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height:30px;
  font-size:14px;
  height:auto;
  line-height:13px;
  text-style:italic;
}
#app-container .content.quick.facts a.button.print {
  margin-top:0px;
}
#app-container .content.quick.facts a.button.pdf {
}
#app-container .content.quick.facts a.button.pdf span{
  background:transparent url(http://www.greenpeace.org/international/Global/international/photos/forests/2011/app/map/images/pdf.png) 10px center no-repeat;
}
#app-container .content.quick.facts a.button.print span {
  background:transparent url(http://www.greenpeace.org/international/Global/international/photos/forests/2011/app/map/images/print.png) 10px center no-repeat;
}
#app-container .content.quick.facts a.button span{
  padding:0px 0px 0px 35px;
  display:block;
}

/* navigation tabs */
#app-container .nav .tabs {
  border-bottom:1px solid #CCC;
  width:900px;
  margin:10px 16px;
  padding:8px 10px 7px 10px;
}
#app-container .nav .tabs a {
  border:1px solid #CCC;
  background:#eae6d6;
  color:#000;
  font-size:14px;
  padding:8px 20px 7px 20px;
  border-radius:3px 3px 0 0;
  -moz-border-radius:3px 3px 0 0;
}
#app-container .nav .tabs a.active {
  background:#FFF;
  border-bottom:1px solid #FFF;
}

/* content general */
#app-container .content h2,
#app-container .content h3,
#app-container .content h4,
#app-container .content h5 {
  font-size:22px;
  margin-top:5px;
  padding:10px 25px 5px 25px;
  clear:both;
  font-style:italic;
}
#app-container .content h4 {
  font-size:18px;
}
#app-container .content h5 {
  font-size:16px;
}
#app-container .content,
#app-container .slides {
  font-size:13px;
}
#app-container .content p {
  padding:5px 25px;
}
#app-container .content ul li {
  background:transparent url(http://www.greenpeace.org/international/Global/international/photos/forests/2011/app/map/images/arrow0.png) left 6px no-repeat;
  padding:2px 5px 0 15px;
}
#app-container .content ul.footnotes {
  font-size:10px;
  padding:5px 25px;
}
#app-container .content .nav ul li,
#app-container .content ul.footnotes li {
  background:0;
  padding-left:0;
}

/* image frames */
#app-container .content .image {
  font-size:10px;
  background:#F1F1F1;
  padding:10px;
}
#app-container .content .image.left {
  float:left;
  margin:10px 25px 10px 25px;
}
#app-container .content .image.right {
  float:right;
  margin:10px 25px 10px 25px;
}
#app-container .content .image .copyright {
  color:#333;
  clear:both;
  display:block;
}
#app-container .content .image .caption {
  font-size:12px;
  color:#333;
  clear:both;
  padding-top:5px;
  display:block;
}

/* slideshow */
#app-container .slide-content {
  width:740px;
  float:left;
  clear:left;
}
#app-container .slide-sidebar {
  width:215px;
  float:left;
  margin-top:52px;
}
#app-container .content .slide-sidebar h5{
  padding-left:0;
}
/*flickr */
#flickr-holder {
  height: 455px;
  margin: auto 20px;
  width:920px;
  display:block;
  border: 2px solid #CCCCCC;
}
#flickr-slideshow {
  width:740px;
  float:right;
  clear:left;
  display:block;
}
#flickr-text {
  float:left;
  display:block;
  height:455px;
  border-right: 2px solid #CCCCCC;
  padding: 0;
  position: absolute;
  width: 180px;
  background: #EEE;
}
#flickr-text p {
  font-size:14px;
  margin: 20px 5px 5px 5px;
  font-weight:bold;
}

/* tables */
#chart {
  width: 90%;
  margin: 10px auto;
  border-collapse: collapse;
  border: 1px solid #333;
  color:#111;
  font-size:12px;
 }
#chart .rowa  {
  background: #AAA;
  height: 10px;
}
#chart .rowb {
  background: #CCC;
  height: 10px;
}
#chart .cell {
  padding: 3px;
  border: none;
}
#chart .rowc {
  background: #111;
  height: 10px;
  color:#FFF;
}

/* bex additions content styling */
#app-container .content ul.bodylist {
  padding:5px 25px;
}
#app-container .content ol li {
  padding:2px 5px 0 5px;
  margin-left:45px;
}
#app-container .quickfacts {
  color:#ED343A;
  font-weight:bold;
}
#app-container .content .footnotes {
  font-size:10px;
  font-weight:normal;
}

/* home page */
#app-container.home #app-header {
  height:45px;
}
#app-container.home #title-holder h2 {
  display:none;
}
#app-container.home  h2 {
  color:#F00;
  font-style:italic;
}
#app-container.home .video-holder {
  width:920;
  margin:20px 20px 10px 20px;
  background:#DDD url(http://www.greenpeace.org/international/Global/international/photos/forests/2011/app/map/images/paper.png) 0 0 repeat;
  border-top:5px solid #F00;
  border-bottom:5px solid #F00;
}
#app-container.home .video {
  padding:20px;
  margin-left:120px;
}
#app-container.home .collumns {
  width:920px;
  margin:0 20px;
  float:left;
}
#app-container.home .collumns .collumn{
  width:300px;
  float:left;
  margin-right:10px;
  padding-top:180px;
  height:180px;
  border-bottom:5px solid #F00;
}
#app-container.home .collumns .collumn.col1{
  background:#FFF url(http://www.greenpeace.org/international/Global/international/photos/forests/2011/app/map/images/home1.png) 0 0 no-repeat;
}
#app-container.home .collumns .collumn.col2{
  background:#FFF url(http://www.greenpeace.org/international/Global/international/photos/forests/2011/app/map/images/home2.png) 0 0 no-repeat;
}
#app-container.home .collumns .collumn.col3{
  background:#FFF url(http://www.greenpeace.org/international/Global/international/photos/forests/2011/app/map/images/home3.png) 0 0 no-repeat;
  margin:0;
}
