/**
 * Map.css
 * @updated 2011-05-31
 */
body {
  font-family: helvetica, arial, verdana, sans-serif;
  margin:0;
  padding:0;
}

/* reset */
#app-container * {
  padding:0;
  margin:0;
}
#app-container ul {
  list-style-type:none;
}

/* Universal clearfix hack */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */


/* need to go once in planet */
body.fakeheader{
  background:#FCFCFC url(../images/fakeheader.png) center top repeat-x;
  padding-top:87px; 
}

/* layout */
#app-container {
  margin:auto;
  background-color:#FFF;
  width:960px;
  padding:5px 0 50px 0;
  -moz-box-shadow: 0 0 10px #888;
  -webkit-box-shadow: 0 0 10px #888;
  box-shadow: 0 0 10px #888;
  height: 100%;
}
#app-container #title-holder,
#app-container #main-nav-holder {
  float:left;
  width:185px;
  height:50px;
}
#app-container #main-nav-holder {
  width:750px;
}
#map{
  width:920px;
  height:500px;
  margin:auto 20px;
}
#map-layers {
  position:absolute;
  margin-top:100px;
  height:495px;
  width:170px;
  margin-left:3px;
  padding-left:5px;
}

/* top */
#app-container #app-header {
  padding:10px;  
}
#app-container h1 span{
  display:none;
}
#app-container h1 {
  width:180px;
  height:40px;
  background: transparent url(../images/sinarmas.png) center center no-repeat;
  margin-left:10px;
}

/* nav */
#app-container .nav ul li,
#app-container .nav ul {
  float:left;
}
#app-container .nav ul li a{
  float:left;
  padding:5px 10px;
  margin:3px 0 0 10px;
/*  color:#EC2227;
  border:1px solid #EC2227;*/
  color:#000;
  font-weight:bold;
  text-decoration:none;
  font-size:16px;
  -moz-border-radius: 3px;
  border-radius: 3px;

}
#app-container .nav ul li a.active,
#app-container .nav ul li a:hover{
  background:#EC2227;
  color:#FFF;
}
#app-container .level2 {
  display:none;
}

/* main content map */
#app-container #map-layers {
  position:absolute;
  /*top:50px;*/
  background:transparent url(../images/opacity75.png) 0 0 repeat; /*todo ie6 */
  height:496px;
  width:180px;
  margin-top:42px;
  margin-left:22px;
  padding:0;
  border-right:2px solid #CCC;
}
#app-container #map-layers li h3{
  font-size:14px;
  padding:10px 5px 2px 7px;
}
#app-container #map-layers li span{
  font-size:13px;
  display:block;
  cursor:pointer;
  width:166px;
  color:#000;
  font-weight:bold;
  padding:1px 2px 1px 12px;
  margin-top:1px;
}
/* opac50 #f5f9f8, opac75 #f5f9f8 */
#app-container #map-layers .forest.primary.active span {
  background:#609b61;
  background: -webkit-gradient(linear, left top, right top, from(#f5f9f8), to(#609b61)); 
  background: -moz-linear-gradient(left,#f5f9f8,#609b61);
}
#app-container #map-layers .forest.secondary.active span {
  background:#8bcb8b;
  background: -webkit-gradient(linear, left top, right top, from(#F5F9F8), to(#8bcb8b));
  background: -moz-linear-gradient(left,#f5f9f8,#8bcb8b);
}
#app-container #map-layers .peatland.p02m.active span {
  background:#CFAB7A;
  background: -webkit-gradient(linear, left top, right top, from(#f5f9f8), to(#CFAB7A));
  background: -moz-linear-gradient(left,#f5f9f8,#CFAB7A);
}
#app-container #map-layers .peatland.p24m.active span {
  background:#A16A1A;
  background: -webkit-gradient(linear, left top, right top, from(#f5f9f8), to(#A16A1A));
  background: -moz-linear-gradient(left,#f5f9f8,#A16A1A);
}
#app-container #map-layers .peatland.p40m.active span {
  background:#5F4D22;
  background: -webkit-gradient(linear, left top, right top, from(#f5f9f8), to(#5F4D22));
  background: -moz-linear-gradient(left,#f5f9f8,#5F4D22);
}
#app-container #map-layers .habitat.tiger.active span {
  background:#F37224;
  background: -webkit-gradient(linear, left top, right top, from(#f5f9f8), to(#F37224));
  background: -moz-linear-gradient(left,#f5f9f8,#F37224);
}
#app-container #map-layers .habitat.orangutan.active span {
  background:#f34424;
  background: -webkit-gradient(linear, left top, right top, from(#f5f9f8), to(#F34424));
  background: -moz-linear-gradient(left,#f5f9f8,#F34424);
}
#app-container #map-layers .concession.active span {
  background:#EC2227;
  background: -webkit-gradient(linear, left top, right top, from(#f5f9f8), to(#EC2227));
  background: -moz-linear-gradient(left,#F5F9F8,#EC2227);
}
#app-container #map-layers .spacer {
  margin-top:15px;
  border-bottom:2px solid #CCC;
}
#app-container #map-layers .spacer span {
  display:none;
}
#app-container #map {
  border:2px solid #CCC;
}
/* callout */
#app-container .callout {
  position:absolute;
  width:200px;
  background:#FFF;
  border:1px solid #CCC;
  padding:5px;
}

/* content */
#app-container .content.quick.facts {
  background: transparent url(../images/deforestation.png) left 0 no-repeat;
  padding-left:200px;
  padding-top:0px;
}
#app-container .content.detailed.facts {
  /*float:left;
  clear:both;*/
}
#app-container .content h2,
#app-container .content h3,
#app-container .content h4 {
  font-size:22px;
  margin-top:5px;
  padding:10px 25px 5px 25px;
  clear:both;
}
#app-container .content h3 {
}
#app-container .content p {
  font-size:13px;
  padding:5px 25px;
}
#app-container .content .image.left {
  float:left;
}
#app-container .content .image.right {
  float:right;
  width:150px;
  margin:0 25px 10px 25px;
  font-size:10px;
  background:#F1F1F1;
  padding:10px;
}
#app-container .content .image .copyright {
  color:#333;
  clear:both;
  display:block;
}
#app-container .content .image .caption {
  font-size:12px;
  color:#333;
  clear:both;
  padding-top:5px;
  display:block;
}
#app-container .nav.secondary {
  margin:15px;
}

.slide-content {
  width:740px;
  float:left;
  clear:left;
}
.slide-sidebar {
  width:215px;
  float:left;
}